/* put your custom css here. */

@import url(https://rawgit.com/BeardDesign1/Material-design-theme-ressources/master/code-files/update/version.css);


html, .isCompact-1hsne1:not(code) {
    font-family: Lato !important;
}

.emoji.jumboable {
    margin-top: -0.3em !important;
    width: 42px !important;
    height: 42px !important;
    vertical-align: baseline !important;
}

code {
    font-family: Hack !important;
}

/* prevent follow-up timestamps from being hidden (currently hardcoded for dark mode) */
.theme-dark .timestampVisibleOnHover-276OMc {
    color: hsla(0,0%,100%,.2);
}

/* material theme adjustments */

.usernameWrapper-1S-G5O .username-_4ZSMR:hover {
    border-bottom: 1px solid;
}

.attachButton-1UjEWA {
    width: 50px;
}

.textArea-2Spzkt {
    padding: 16px 0 16px 50px !important;
}

.containerCompact-3V0ioj.container-1YxwTf {
    padding: 0;
    margin: 0 !important;
}

.divider-3gKybi {
    height: 30px;
}
.divider-3gKybi > span {
    background: hsl(0, 0%, 25%) !important;
}
.divider-3gKybi.dividerRed-MKoLlr > span {
    background: hsl(358, 22%, 30%) !important;
}

.channels-Ie2l6A .scrollerWrap-2lJEkd {
    box-shadow: none;
}

.container-1YxwTf {
    background: none;
}

.chat-3bRxxu .messages-3amgkR {
    background: hsl(0, 0%, 17%) !important;
};

.theme-dark .unreadMentionsBar-1VrBNe {
    box-shadow: none;
}

.messagesWrapper-3lZDfY .messages-3amgkR {
    padding-bottom: 1.2rem;
}

[class*="members-"] [class*="member-"] {
    padding: 0 !important;
}

/* Variables for configuration. You can override these in your user css. */

/* compact user list */

.channel-members-wrap {
    min-width: initial;
}
.channel-members-wrap .channel-members {
    width: 78px;
    padding: 0 0 18px 10px;
}
.channel-members h2 {
    padding: 0;
    margin: 9px 0 1px 0;
    text-align: center;
    word-wrap: break-word;
}
.member.member-status {
    padding: 0 4px;
    padding-top: 8px;
}
.member.member-status .avatar-small {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
.member.member-status .member-inner {
    display: none;
}

.channel-members::-webkit-scrollbar {
  max-width: 10px;
}

:root {
    /* ch as unit makes the most sense here,
     * but doesn't work properly with calculating offset of the .accessory div */
    --username-width: 7.3rem;
    --timestamp-width: 3rem;
    --header-offset: calc(0.3rem + 0.3em); /* first 0.3em from margin-left on timestamp */
    /*--username-width: 13ch;
    --timestamp-width: 9ch;*/ /* use `6ch` for 24h timestamps */
}

.containerCompact-3bB5aN { /* accessory */
    padding-left: calc(70px - var(--timestamp-default-width) + var(--timestamp-width) + var(--username-width) );
}

.containerCompact-3V0ioj .timestampCompactBase-26h38e {
    float: left;
    top: 1.5ex;
    width: var(--timestamp-width);
    /*text-align: center;*/
}

.headerCompact-3wRt2W {
    position: absolute;
    left: 0;
}

.containerCompact-3V0ioj .usernameWrapper-1S-G5O, *[class^="username"] {
    display: inline-block;
    text-align: right;
    width: var(--username-width);
    overflow: hidden;
    text-overflow: clip;
    padding-bottom: 1px; /* for on-hover underline on border; user_style.css */
}

.isCompact-1hsne1 {
    margin-left: 0 !important;
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset)) !important;
    text-indent: 0;
}

.containerCompact-3bB5aN {
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset) + 0rem);
}

.containerCompact-3V0ioj.container-1YxwTf .isMentioned-N-h9aa .markup-2BOw-j {
    /*padding: 0;*/
    /*margin: 0;*/
    border-right: solid #FAA61A;
    border-width: 0 2px;
}
